image_width: 1280
image_height: 1024
camera_name: narrow_stereo
camera_matrix:
  rows: 3
  cols: 3
  data: [1842.967849520942, 0.000000, 801.610606551030, 0.000000, 1837.03614486114, 605.522707752535, 0.000000, 0.000000, 1.000000]
distortion_model: plumb_bob
distortion_coefficients:
  rows: 1
  cols: 5
  data: [-0.0158588020466008, -0.153285784991750, 0, 0, 0]
rectification_matrix:
  rows: 3
  cols: 3
  data: [1., 0., 0.,
         0., 1., 0.,
         0., 0., 1.]
projection_matrix:
  rows: 3
  cols: 4
  data: [1842.967849520942, 0.000000,  801.610606551030, 0.000000, 0.000000, 1837.03614486114, 605.522707752535, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000]
